@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    display:flex;
    height:100vh;
    align-items: center;
    justify-content: center;

}

.lightFrame{
height:300px;
width:100px;
display:flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border-top-left-radius: 1em;
border-top-right-radius: 1em;
border-bottom-left-radius: 1em;
border-bottom-right-radius: 1em;


background: black;
}
.light{
    
    height:50px;
    width:50px;
    border-radius:50%;
}
.selected{
    box-shadow: -5px 5px  55px yellow,
    5px -5px  55px yellow;
}
.red{
    background:red;
}
.yellow{
background:yellow;
}
.green{
    background:green;

}
.cableHorizontal{
    background:black;
    height:5px;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:25px;
}
.streetSign{
    background:green;
    border: 2px solid yellow;
    font-size: 30px;
    padding:5px 15px 5px 15px;
    box-shadow: 0 px 5px 0px red,
        0 px -5px 0px red,
        5 px 0px 0px red,    
        -5 px 0px 0px red,    
        
}
.cableHang{
    height:25px;
    width:5px;
    background:black;
    
}
.fas{
    color:white;
    font-size: 5rem;
}
.crossSign{
    position: relative ;
    left: 200px;
    top:-200px;
    height: 200px;
    width: 200px;
    background: black;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}